@use "./mixins";

.about__us {
  @include mixins.displayFlex($ai: flex-start, $ga: 4rem);
  padding: clamp(1.5rem, 0.875rem + 2.778vw, 4rem);
  @include mixins.sectionPaddingLR;
  background: var(--bg-primary);
  border-bottom: var(--border);

  @media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 0;
  }

  &__content {
    @include mixins.displayFlex($fd: column, $ai: flex-start, $ga: 2rem);
    flex: 1;

    &>.h3 {
      font-weight: var(--font-regular);
      margin-bottom: -15px;
    }

    & .h2 {
      font-weight: var(--font-medium);
    }

    &__stats {
      @include mixins.displayFlex($jc: space-between, $ga: 2rem);
      width: 100%;

      @media screen and (max-width: 800px) {
        width: 70%;
      }

      &__group .h2 {
        font-weight: var(--font-medium);
      }

      &__group .h3 {
        font-weight: var(--font-regular);
      }
    }

    &__learn__more {
      padding: 0.7rem clamp(1.2rem, 1rem + 0.889vw, 2rem);
      font-weight: var(--font-bold);
      background: var(--bg-secondary-medium);
      border-radius: 2rem;
      text-wrap: nowrap;
      transition: background 0.2s ease-in-out;

      &:hover {
        background: var(--bg-secondary-hover);
      }
    }
  }

  &__image {
    @include mixins.displayFlex;
    flex: 1;
    width: 100%;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    & img {
      width: clamp(18rem, 15rem + 13.333vw, 30rem)
    }
  }
}
