@use "./mixins";

.intro {
  position: relative;
  @include mixins.displayFlex($ga: 2rem, $ai: flex-start);
  padding: clamp(1.5rem, 0.875rem + 2.778vw, 4rem) 0 calc(clamp(1.5rem, 0.875rem + 2.778vw, 4rem) + 3rem);
  @include mixins.sectionPaddingLR;
  background: var(--color-white);

  @media screen and (max-width: 900px){
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__images {
    @include mixins.displayFlex;
    flex: 1;
    position: relative;

    &--main {
      width: clamp(25rem, 9.967rem + 26.696vw, 40rem);

      @media screen and (max-width: 900px) {
        width: clamp(18rem, 13.333rem + 20.741vw, 25rem);
      }
    }

    &--up {
      position: absolute;
      top: 0;
      left: clamp(9rem, -2.024rem + 19.577vw, 20rem);
      width: clamp(14rem, 5.982rem + 14.238vw, 22rem);

      @media screen and (max-width: 900px) {
        left: clamp(6.5rem, 4.833rem + 7.407vw, 9rem);
        width: clamp(10.4rem, 8rem + 10.667vw, 14rem);
      }
    }

    &--left {
      position: absolute;
      left: clamp(0rem, -5.011rem + 8.899vw, 5rem);
      bottom: 0;
      height: clamp(11.3rem, 4.585rem + 11.924vw, 18rem);

      @media screen and (min-width: 920px) and (max-width: 1351px) {
        left: clamp(0rem, -5.123rem + 8.91vw, 2.4rem);
      }

      @media screen and (max-width: 900px) {
        left: 0;
        height: clamp(8rem, 5.8rem + 9.778vw, 11.3rem);
      }
    }
  }

  &__content {
    @include mixins.displayFlex($fd: column,  $ai: flex-start);
    flex: 1;

    @media screen and (max-width: 900px) {
      width: 95%;
    }

    &__heading, &__description {
      color: var(--color-blue);
    }

    &__cta {
      @include mixins.displayFlex($fd: column, $ai: flex-start, $ga: 1rem);
      margin-top: 20px;

      &__explore__btn {
        padding: 0.7rem clamp(1.2rem, 1rem + 0.889vw, 2rem);
        font-weight: var(--font-bold);
        background: var(--bg-secondary-medium);
        border-radius: 2rem;
        text-wrap: nowrap;
        transition: background 0.2s ease-in-out;

        &:hover {
          background: var(--bg-secondary-hover);
        }
      }

      &__stats {
        @include mixins.displayFlex($ga: 1rem);

        &__avatars {
          @include mixins.displayFlex;

          & img {
            width: clamp(3rem, 1.998rem + 1.78vw, 4rem);
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            border: var(--border);

            &:not(:first-child) {
              margin-left: -15px;
            }
          }
        }

        &__count {
          color: var(--color-blue);
        }
      }
    }
  }

  &__decorator {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70%;
    height: clamp(2rem, 1.75rem + 1.111vw, 3rem);
    background: var(--bg-secondary-medium);
    border-top-right-radius: 1.5rem;
  }
}
